@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1646488896003') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao-zhexiantu:before {
  content: "\eb96";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-dingshi:before {
  content: "\e645";
}

